<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.17.1" targetFramework="netnano1.0" />
  <package id="nanoFramework.Graphics.Ili9341" version="1.2.39" targetFramework="netnano1.0" />
  <package id="nanoFramework.Hardware.Esp32" version="1.6.31" targetFramework="netnano1.0" />
  <package id="nanoFramework.ResourceManager" version="1.2.30" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.30" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="1.7.9" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.5.62" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Gpio" version="1.1.55" targetFramework="netnano1.0" />
</packages>